<ion-header>
  <ion-toolbar class="barra">
    <ion-title class="Nombre_del_proyecto ">Piggy</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <section>
    <div>
      <h3>ESTADO</h3>
    </div>
    <ion-card>
      <div>
        <div class="rigth">
          <h4>Saldo inicial: $ {{this.user.saldoInicial}}</h4>
          <h4><span style="color: red;font-size:30px">-</span> Gastado: $ {{this.gastoGrafico}}</h4>
          <hr>
          <h4>Disponible: $ {{disponibleGrafico}}</h4>
        </div>
        <canvas id="canvas">
          {{chart}}
        </canvas>
      </div>
      <h2 class="center">{{ this.procentaje }}<span>%</span></h2>
    </ion-card>
  </section>
  <section class="GastosDia">
    <div>
      <h3>GASTOS DEL DIA</h3>
    </div>
    <ion-card>
      <div class="cuadro">
        <a class="transporte" href="#">
          <ion-icon name="bus"></ion-icon>
        </a>
      </div>
      <div class="cuadro">
        <a href="#">hola</a>
      </div>
    </ion-card>
  </section>
  <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button class="botonFlotante">
            <ion-icon class="iconoBoton" name="add" ></ion-icon>
      </ion-fab-button>
   </ion-fab>
</ion-content>
<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="../form-details">
    <ion-icon name="contact"></ion-icon>
    <ion-label>Configuración</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="speakers">
    <ion-icon name="calendar"></ion-icon>
    <ion-label>Calendario</ion-label>
  </ion-tab-button>
</ion-tab-bar>